<script>
function show(){
document.getElementById("con").style.display="";
//alert(document.getElementById("div").style.display)
}
function hidden(){
document.getElementById("con").style.display="none";
//alert(document.getElementById("div").style.display)
}
</script>

<div id="headline">
	<h3><%= @notice.headline %></h3> 
</div>
<center>
	<div id="con1" >
	<p><%= @notice.description %></p>
	</div>
</center>
<center>
	<h1>PRESS HERE </h1>
	<input id="button" name="name" type="button" onClick="show();" value="显示">
	<div id="con"style="display: none" onClick="hidden();">
		<h2>电影剧照</h2>
		<%= image_tag(@notice.image,class:"pic") %>
		<h3>演员简介</h3>
		<marquee>
			<%=image_tag("xiao1.jpg")%>
			<%=image_tag("xiao2.jpg")%>
			<%=image_tag("xiao3.jpg")%>
			<%=image_tag("xiao5.jpg")%>
		</marquee>
	</div>
</center>





