
<div class="notice_body">
	<div class="headline"><%= @notice.headline %></div>
	<div class="connent">
		<div class="video1"><%= video_tag(@notice.video_url, controls: true, autobuffer: true) %></div>
		<div class="entity">
			<div >
				<%= image_tag("cafa.jpg") %>
				<p><%= @notice.description %></p>
			</div>
		</div>
	</div>
	<div class="section-container auto" data-section>
		<section>
			<p class="title" data-section-title><a href="#panel1">电影</a></p>
			<div class="content" data-section-content>
					<% @movies.each do |movie| %>
						<li>
						<%= image_tag("#{movie.avatar_url}") %>
						<p><%= link_to "#{movie.name}", movie_path(movie) %></p>
						</li>
				<% end %>
			</div>
		</section>
		<section>
			<p class="title" data-section-title><a href="#panel2">电视剧</a></p>
			<div class="content" data-section-content>
				<p><%= image_tag("chaoren2.jpg") %></p>
			</div>
		</section>
	</div>
	<div class="notice_titles"><p>其他相关专题</p></div>
	<div class="notice_marquee">
		<marquee>
			<div class="notice_pic">
				<% @notices.each do |notice| %>
						<li>
						<%= image_tag("#{notice.image_url}") %>
						<p><%= link_to "#{notice.headline}", notice_path(notice) %></p>
						</li>
				<% end %>
			</div>
		</marquee>
	</div>
</div>









