<section>
	<center>
		<h1><%= @movie.name %></h1>
		<div id="video">
			<%=video_tag(@movie.video_file, controls: true ,height:'450px',width:'850px')%>
		</div>
	</center>
</section>
<section>
<div id="comment" class="comment_form">
	<div class="form">
			<%= simple_form_for ([@movie, @movie.comments.build]) do |f| %>
			<%= f.input :commenter %>
			<%= f.input :cimage %>
			<%= f.input :body %>
			<%= f.button :submit ,class:"btn btn-success"%>
			<% end %>
		</div>
	</div>
</div>
<div class="discusslist">
	<h4>用户评论区</h4>
	<marquee direction="up" height="350px" onMouseOver="this.stop()" onMouseOut="this.start()" >
		<%@movie.comments.each do |comment| %>
			<li>
				<%= image_tag(comment.cimage ,class:"img-circle") %>
				<div class="user">
					<%=comment.commenter%>
				</div>
				<div class="connect">
					<%=comment.body%>
				</div>
			</li>
		<% end %>
	</marquee>
</div>
</section>
