<div id="header">
		<h1>六月</h1>
		<h2>电影开始的地方</h2>
</div>
<div class="box">
<ul class="list">
	<li class="slide"><%= image_tag("chaoren.jpg")%></li>
	<li class="slide"><%= image_tag("xiaoxiao.jpg")%></li>
	<li class="slide"><%= image_tag("huangxiaom.jpg")%></li>
	<li class="slide"><%= image_tag("shengdan.jpg")%></li>
</ul>
<div class="index">
	<a href="javascript:" class="index_1">1</a>
	<a href="javascript:" class="index_2">2</a>
	<a href="javascript:" class="index_3">3</a>
	<a href="javascript:" class="index_4">4</a>
</div>
</div>
<div id="content">
	<div id="leftmain">
		<div id="menutitle">
			<h3>热映资讯</h3>
		</div>
		<div id="menu">
			<ul>
				<% @titles.each do |title| %>
				<li><%= link_to "#{title.headline}", title_path(title) %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<div id="rightmain">
		<div id="left1">
			<div id="titletitle">
				<h3>正在热映</h3>
			</div>
		</div>
		<div id="right1">
			<p><a href="third 12.html"><h3>随便看看</h3></a></p>
		</div>
		<div class="movies">
			<% @movies.each_slice(4).each do |row| %>
				<div class="row">
					<% row.each do |movie| %>
					<div class="movie">	

						<div class="movie-poster">
							<%= image_tag("#{movie.avatar_url}") %>
						</div>
						<div class="movie-name">
							<%= link_to "#{movie.name}", movie_path(movie) %>
						</div>
					</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>