<div id="news">
	<%=image_tag("film.jpg",width:'1280',height:'200')%>
</div>	
<div id="headline">
	</p><%= @news.headline %></p> 
</div>
<div id="author">
	<p><%= @news.author %></p> 
	<center>
        <div id="con">
	   		<p><%= @news.con %></p>g
	   	</div>
    </center>
<div id=footer>
	<%#= link_to 'Edit', edit_news_path(@news) %> <%#= link_to 'Back', news_index_path %>
	<div id="demo" onmouseover="stopscroll();" style="OVERFLOW: hidden; WIDTH: 1250px" onmouseout="doscroll();"> 
        <div id="demo1" style="padding-right: 0px; padding-left: 0px; padding-bottom: 0px; padding-top: 0px; white-space: nowrap">
        	<%#= link_to "http://sdfsdf" do %>
        		<%#slkdfsldjs
        	<%# end %>
            <a href="8"><%=image_tag("newspic1.jpg",width:'192',height:'108')%></a>
            <a href="9"><%=image_tag("newspic2.jpg",width:'192',height:'108')%></a>
            <a href="2"><%=image_tag("newspic3.jpg",width:'192',height:'108')%></a>
            <a href="5"><%=image_tag("newspic4.jpg",width:'192',height:'108')%></a>
            <a href="6"><%=image_tag("newspic5.jpg",width:'192',height:'108')%></a>
            <a href="4"><%=image_tag("newspic6.jpg",width:'192',height:'108')%></a>
            <a href="7"><%=image_tag("newspic7.jpg",width:'192',height:'108')%></a>
        </div> 
    </div> 
    <script> 
        vart=demo.scrollWidth; 
        demo1.innerHTML+=demo1.innerHTML; 
        function doMarquee(){ 
            demo.scrollLeft=demo.scrollLeft<demo.scrollWidth-demo.offsetWidth?demo.scrollLeft+1:t-demo.offsetWidth; 
        } 

        function doscroll(){ 
            sc=setInterval(doMarquee,20); 
        } 
        function stopscroll(){ 
            clearInterval(sc); 
       	} 
        doscroll();
    </script> 
</div>
 
