<h1>Listing characters</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @characters.each do |character| %>
		
		
		<tr>
			<td><%= character.name %></td>
			<td>
				<%= link_to 'Show', admin_character_path(character) %>
				<%= link_to 'Edit', edit_admin_character_path(character) %>
				<%= link_to 'Destroy', admin_character_path(character), method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'New character', new_admin_character_path %>
