<h1>Listing titles</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Headline</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @titles.each do |title| %>
		<tr>
			<td><%= title.headline %></td>
			<td>
				<%= link_to 'Show', admin_title_path(title) %>
				<%= link_to 'Edit', edit_admin_title_path(title) %>
				<%= link_to 'Destroy', admin_title_path(title), method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'New title', new_admin_title_path %>
