<h1>Listing posts</h1>

<table>
  <tr>
    
    <th>Image</th>
 
    <th>post_id</th>
    <th>movie_id</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.image %></td>
     <td><%= post.post_id %></td>
     <td><%= post.movie_id %></td>
    <td><%= link_to 'Show',[@movie ,post] %></td>
    <td><%#= link_to 'Edit', edit_movie_post_path(@movie ,post) %></td>
    <td><%= link_to 'Destroy', [@movie, @post], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Post', new_movie_post_path(@movie) %>