<!DOCTYPE html>
<html>
<head>
	<title>JuneMovie</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "vendor/custom.modernizr" %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag "style.css.scss" %>
	<%= yield(:head)%>
</head>

<body>

<div>
	<% if current_user %>
	<%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
	<%= link_to('修改密碼', edit_registration_path(:user)) %>
	<% else %>
	<%= link_to('註冊', new_registration_path(:user)) %> |
	<%= link_to('登入', new_session_path(:user)) %>
	<% end %>
</div>
<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
			<a href="#" class="button radius">首页</a>

		</li>
	</ul>
</nav>
<%= yield %>

</body>
</html>


